<!DOCTYPE html>
<html lang="pt-br">
    <!-- necessario para carregar as imagens -->
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" crossorigin="anonymous"/>
    <link rel="icon" href="{% static 'img/pokeball-icon.ico' %}">
    <title>Pokedex | Django</title>
</head>
<body>
    <h2>Using Django Framework</h5> 
    <form method="post">
        {% csrf_token %}
        
        <!-- barra de pesquisa -->
        <input type="text" name="pokemon" placeholder="Pesquise o Pokemon...">
        <button type="submit">Pesquisar</button>
    </form>
    <div>
        {% if numero and nome %}
            <h3>
                Numero: {{numero}}
            </h3>
            <h3>
                Nome: {{nome}}
            </h3>
            <h3>
                Altura: {{altura}}
            </h3>
            <h3>
                Peso: {{peso}}
            </h3>
            <h3>
                Imagem Default: 
            </h3>
            <img src="{{sprite}}" alt="{{name}} sprite" style="width:70px">
        {% else %}
        <div>
            <h3>
                Escreva o nome ou ID do seu pokemon: 
            </h3>
        </div>
        {% endif %}
    </div>
</body>
</html>